{% autoescape None %}
<html>
<head>

    <title>Birdhouse</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/list.css">
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,700|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--typekit-->
    <script type="text/javascript" src="//use.typekit.net/sfu1xqz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width">

</head>
<body>
<div id="container">
<!--     <div id="nav">
        <div id="username"></div> &nbsp;|&nbsp; <a href="/logout" id="logout">Sign out</a>
    </div> -->

    <br class="clear" />
    <div id="logo">
        <a href="/"><img src="../static/img/bird.png" id="bird" /></a>
    </div>
    <p id="title">
        birdhouse
    </p>

   <div id="intro">
        <p>
            birdhouse is a simple service that watches your timeline and saves it to a database, so you never miss anything.
        </p>

        <ol>
            <li>Sign in with your Twitter account below to activate the birdhouse service.</li>
            <li>Your home timeline will be monitored and stored behind the scenes. (Search, review, and customization features TBD.)
            <li>If you revoke access to birdhouse using Twitter's Application Settings, birdhouse will delete the record of your use automatically.</li>
        </ol>
        </p>
   </div>
   <a href="/login" id="login">Sign in with Twitter</a>

   <!--footer-->
    <div id="footer">&copy; Copyright 2016 &ndash; Matt Boggie</div>

</div>

</body>
</html>
